<?xml version="1.0"?>

<config>
  <modules>
    <Stamped_App>
      <version>1.0.1</version>
    </Stamped_App>
  </modules>

  <global>
    <models>
      <stamped_app>
        <class>Stamped_App_Model</class>
        <resourceModel>stamped_app_mysql4</resourceModel>
      </stamped_app>
      <stamped_app_mysql4>
        <class>Stamped_App_Model_Mysql4</class>
        <entities>
          <richsnippet>
            <table>stamped_app_richsnippets</table>
          </richsnippet>
        </entities>
      </stamped_app_mysql4>
    </models>
    <resources>
      <stamped_app_setup>
        <setup>
          <module>Stamped_App</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </stamped_app_setup>
      <stamped_app_write>
        <connection>
          <use>core_write</use>
        </connection>
      </stamped_app_write>
      <stamped_app_read>
        <connection>
          <use>core_read</use>
        </connection>
      </stamped_app_read>
    </resources>
    <helpers>
      <stamped>
        <class>Stamped_App_Helper</class>
      </stamped>
    </helpers>
    <blocks>
      <stamped_app>
        <class>Stamped_App_Block</class>
      </stamped_app>
    </blocks>
    <events>
      <sales_order_save_after>
        <observers>
          <stamped_app_order_observer>
            <type>singleton</type>
            <class>Stamped_App_Model_Order_Observer</class>
            <method>addReviewRequest</method>
          </stamped_app_order_observer>
        </observers>
      </sales_order_save_after>
    </events>
  </global>

  <admin>
    <routers>
      <stamped_app>
        <use>admin</use>
          <args>
            <module>Stamped_App</module>
            <frontName>stamped</frontName>
          </args>
      </stamped_app>
    </routers>
  </admin>

  <frontend>
    <layout>
      <updates>
        <stamped_app>
          <file>stamped_app.xml</file>
        </stamped_app>
      </updates>
    </layout>
  </frontend>

  <default>
    <stamped_app>
      <stamped_app_settings_group>
        <stamped_order_status_trigger>complete</stamped_order_status_trigger>
      </stamped_app_settings_group>
    </stamped_app>
  </default>
</config>
